<div class="landing-wrapper">
  <h1>We believe that quality is above all!</h1>
  <h2>That is why these are our main values:</h2>

  <div class="value-container dark-yellow">
    <img class="light-yellow" src="https://cdn-icons-png.flaticon.com/512/5250/5250730.png" alt="" />
    <div class="value-container__text-container">
      <h2>Quality and challanges</h2>
      <p>We dare to challenge oruselves to give you the best products and services we can!</p>
    </div>
  </div>

  <div class="value-container light-green reversed">
    <img class="dark-green" src=" https://cdn-icons-png.flaticon.com/512/45/45777.png " alt="" />
    <div class="value-container__text-container">
      <h2>Sustainability</h2>
      <p>We are devoted to take care of the nature, and take responsibilities towards our products!</p>
    </div>
  </div>

  <div class="value-container dark-brown">
    <img class="light-brown" src="https://cdn-icons-png.flaticon.com/512/134/134597.png" alt="" />
    <div class="value-container__text-container">
      <h2>Profitability</h2>
      <p>Gicing the best is always expensive, yet we do our best to spare you from it!</p>
    </div>
  </div>
  <h1 id="specialOffers">Our special offers</h1>
  <div class="speciality-container">
    <div class="products-container">
      <div class="products-container__product-wrapper">
        <div class="products-container__product">
          <h3>Greygoose</h3>
          <img
            class="products-container__product_product-image"
            src="https://secure.ce-tescoassets.com/assets/HU/100/5010677850100/ShotType1_540x540.jpg"
            alt="illustration_product_image"
          />
          <p class="products-container__product-descpription silver">Award winning Greygoose vodka</p>
          <img
            class="products-container__product_banner"
            src="https://cdn-icons-png.flaticon.com/512/179/179251.png"
            alt="illustration_silver_medal"
          />
          <p class="products-container__product_price">18.999 HUF</p>
        </div>
      </div>
      <div class="products-container__product-wrapper">
        <div class="products-container__product">
          <h3>Tokaji</h3>
          <img
            class="products-container__product_product-image"
            src="https://secure.ce-tescoassets.com/assets/HU/772/5998812723772/ShotType1_540x540.jpg"
            alt="illustration_product_image"
          />
          <p class="products-container__product-descpription gold">Award winning Tokaji aszú</p>
          <img
            class="products-container__product_banner"
            src="https://cdn-icons-png.flaticon.com/512/10544/10544863.png "
            alt="illustration_gold_medal"
          />
          <p class="products-container__product_price">9.999 HUF</p>
        </div>
      </div>
      <div class="products-container__product-wrapper">
        <div class="products-container__product">
          <h3>Jack Daniels</h3>
          <img
            class="products-container__product_product-image"
            src="https://secure.ce-tescoassets.com/assets/HU/798/5099873089798/ShotType1_540x540.jpg"
            alt="illustration_product_image"
          />
          <p class="products-container__product-descpription bronze">Award winning whiskey</p>
          <img
            class="products-container__product_banner"
            src="https://cdn-icons-png.flaticon.com/512/179/179250.png "
            alt="bronze_medal"
          />
          <p class="products-container__product_price">12.999 HUF</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer-container">
  <h1 id="contact">Contact as!</h1>
  <div class="footer-container__grid-main">
    <div>
      <img src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png" alt="" />
      <h2>Instagram</h2>
      <h3>www.instagram.com/lorem.impsum</h3>
    </div>
    <div>
      <img src="https://cdn-icons-png.flaticon.com/512/732/732200.png" alt="" />
      <h2>Email</h2>
      <h3>lorem.ipsum@gmail.com</h3>
    </div>
    <div>
      <img src="https://cdn-icons-png.flaticon.com/512/5968/5968764.png" alt="" />
      <h2>Facebook</h2>
      <h3>www.facebook.com/lorem.impsum</h3>
    </div>
  </div>
</div>
