$colors:  (
    black: #000,
    white: #fff,
    blue: (
        500: #01019d,
        400: #0f0fb1,
        300: #3838c0,
        200: #5f5fd6,
        200OP: #5f5fd6c8,
        100: #7575d9,
    ),
    gray: (
        300: #afaeae,
        200: #cfcfcf,
        200OP: #cfcfcfab,
        100: #ededed
    ),
    yellow: (
        200: #fefe81,
        200OP: #fefe81b6,
        100: #ffffaa
    ),
    red: (
        200: #f96f6f,
        200OP: #f96f6f83,
        100: #ffa3a3
    ),
    green: (
        200: #47da47,
        200OP: #47da4779,
        100: #8ef68e
    ),
    brown: (
        200: #ffd555,
        100: #fbdd84
    )
)